src/by/it/meshchenko/jd02_07/Persons.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT Persons (Person)+>
<!ELEMENT Person (Email, Nickname, Password, Ads)>
    <!ELEMENT Email (#PCDATA)>
    <!ELEMENT Nickname (#PCDATA)>
    <!ELEMENT Password (#PCDATA)>
    <!ELEMENT Ads (Ad)+>
        <!ELEMENT Ad (Description, Count, Square) >
        <!ATTLIST Ad
                Price (#PCDATA)>
            <!ELEMENT Description (#PCDATA)>
            <!ELEMENT Count (#PCDATA)>
            <!ELEMENT Square (#PCDATA)>