src/by/it/likhanau/jd02_07/dtd/claim.dtd

<?xml version="1.0" encoding="UTF-8"?>
        <!ELEMENT claim (client, tour)>
        <!ELEMENT client (name, email,telNumber)>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT email (#PCDATA)>
        <!ELEMENT telNumber (#PCDATA)>
        <!ELEMENT tour (dateFrom, dateTo, price, descriptino)>
        <!ATTLIST tour id CDATA #REQUIRED>
        <!ELEMENT dateFrom (#PCDATA)>
        <!ELEMENT dateTo (#PCDATA)>
        <!ELEMENT price (#PCDATA)>
        <!ELEMENT descriptino (#PCDATA)>