src/by/it/dubrova/jd02_07/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://by.it.dubrova/book" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="books" type="book:booksType" xmlns:book="http://by.it.dubrova/book"/>
  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element type="xs:string" name="author"/>
      <xs:element type="xs:string" name="date"/>
      <xs:element type="xs:integer" name="pages"/>
      <xs:element type="xs:integer" name="weight"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="booksType">
    <xs:sequence>
      <xs:element type="book:bookType" name="book" xmlns:book="http://by.it.dubrova/book"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>